In [1]:
import sys
sys.version

'3.10.8 (main, Nov 24 2022, 08:09:04) [Clang 14.0.6 ]'

In [2]:
%matplotlib inline

In [3]:
import matplotlib.pyplot as plt
plt.xkcd()

import pandas as pd
import numpy as np
import scipy as sp
import quandl
import functools
import seaborn as sns
import plotnine as p9
import statsmodels.api as sm
import math

pd.options.mode.chained_assignment = None

In [4]:
from functions import *

In [5]:
df_tickers = pd.read_csv("zacks-tickers.csv")

In [6]:
df_tickers

      3262Q    CMS ENERGY -G
0         A     AGILENT TECH
1        AA        ALCOA INC
2      AAAP  ADV ACCELERATOR
3       AAC     AAC HOLDINGS
4     AACAY   AAC TECH HLDGS
...     ...              ...
8907   ZYNE   ZYNERBA PHARMA
8908   ZYTO        ZYTO CORP
8909   ZYXI        ZYNEX INC
8910     ZZ       SEALY CORP
8911   ZZLL    ZZLL INFO TEC

[8912 rows x 2 columns]

In [7]:
df_tickers_list = list(df_tickers['3262Q'])

In [8]:
len(df_tickers_list)

8912

In [10]:
len_list = []

In [13]:
start_date = '2014-06-30'
end_date = '2022-06-30'

In [12]:
# end-of-day adjusted closing prices are available over the entire period Jan 2015 through Jan 2022

# for ticker in df_tickers_list:

#     df = get_adj_close(ticker,'2014-06-30','2022-06-30')
#     len_list.append(len(df))

In [ ]:
zacks_sector_code_list = [13]

In [25]:
tickers_remove_list = ['ABEO']

In [27]:
df_tickers_list1 = []

for ticker in df_tickers_list:

    if ticker not in tickers_remove_list:

        # print(ticker)
        df_fc = quandl.get_table('ZACKS/FC',ticker = ticker,per_end_date = {'gte':start_date,'lte':end_date},qopts={"columns":"zacks_sector_code"})
        # print(df_fc)
        if len(df_fc)!=0:
            if df_fc.zacks_sector_code[0] != 13:
                df_tickers_list1.append(ticker)

    if len(df_tickers_list1)%200==0:
        print(len(df_tickers_list1))
    # if len(df_tickers_list1)%200==0:
    #     print(len(df_tickers_list1))

200
400

KeyboardInterrupt:

In [ ]:
len(df_tickers_list1)

In [24]:
quandl.get_table('ZACKS/FC',ticker = 'ABEO')

Empty DataFrame
Columns: [m_ticker, ticker, comp_name, comp_name_2, exchange, currency_code, per_end_date, per_type, per_code, per_fisc_year, per_fisc_qtr, per_cal_year, per_cal_qtr, data_type_ind, filing_type, qtr_nbr, zacks_sector_code, zacks_x_ind_code, zacks_metrics_ind_code, fye_month, comp_cik, per_len, sic_code, filing_date, last_changed_date, state_incorp_name, bus_address_line_1, bus_city, bus_state_name, bus_post_code, bus_phone_nbr, bus_fax_nbr, mail_address_line_1, mail_city, mail_state_name, mail_post_code, country_name, country_code, home_exchange_name, emp_cnt, emp_pt_cnt, emp_ft_cnt, emp_other_cnt, comm_share_holder, auditor, auditor_opinion, comp_url, email_addr, nbr_shares_out, shares_out_date, officer_name_1, officer_title_1, officer_name_2, officer_title_2, officer_name_3, officer_title_3, officer_name_4, officer_title_4, officer_name_5, officer_title_5, rpt_0_date, tot_revnu, cost_good_sold, gross_profit, tot_deprec_amort, int_exp_oper, int_invst_income_oper, res_dev_exp, in_proc_res_dev_exp_aggr, tot_sell_gen_admin_exp, rental_exp_ind_broker, pension_post_retire_exp, other_oper_income_exp, tot_oper_exp, oper_income, non_oper_int_exp, int_cap, asset_wdown_impair_aggr, restruct_charge, merger_acq_income_aggr, rental_income, spcl_unusual_charge, impair_goodwill, litig_aggr, gain_loss_sale_asset_aggr, gain_loss_sale_invst_aggr, stock_div_subsid, income_loss_equity_invst_other, pre_tax_minority_int, int_invst_income, other_non_oper_income_exp, tot_non_oper_income_exp, pre_tax_income, tot_provsn_income_tax, income_aft_tax, minority_int, equity_earn_subsid, invst_gain_loss_other, other_income, income_cont_oper, ...]
Index: []

[0 rows x 249 columns]

In [15]:
df_fc = quandl.get_table('ZACKS/FC',ticker = 'LLY',per_end_date = {'gte':start_date,'lte':end_date})
df_fc[['zacks_sector_code','zacks_x_ind_code']]

      zacks_sector_code  zacks_x_ind_code
None
0                     4               225
1                     4               225
2                     4               225
3                     4               225
4                     4               225
5                     4               225
6                     4               225
7                     4               225
8                     4               225
9                     4               225
10                    4               225
11                    4               225
12                    4               225
13                    4               225
14                    4               225
15                    4               225
16                    4               225
17                    4               225
18                    4               225
19                    4               225
20                    4               225
21                    4               225
22                    4               225
23                    4               225
24                    4               225
25                    4               225
26                    4               225
27                    4               225
28                    4               225
29                    4               225
30                    4               225
31                    4               225
32                    4               225
33                    4               225
34                    4               225
35                    4               225
36                    4               225
37                    4               225
38                    4               225
39                    4               225
40                    4               225

In [17]:
type(df_fc.zacks_sector_code[0])

numpy.int64

In [5]:
ticker = 'LLY'
start_date = '2014-06-30'
end_date = '2022-06-30'

df_ratio = calculate_ratio(ticker,start_date,end_date)

In [8]:
df_ratio.loc[['2020-10-28','2020-10-29','2020-12-31','2021-01-04','2021-02-17','2021-02-18']]

            debt_to_market_cap  return_on_investment  price_to_earnings
date
2020-10-28            4.755473              9.075546          81.908198
2020-10-29            3.782411              6.317094          96.358352
2020-12-31            2.953930              4.948484         123.383705
2021-01-04            3.013544              5.047243         120.942923
2021-02-17            2.405588              4.038046         151.508437
2021-02-18            2.381655              7.910124          84.975909

In [9]:
df1 = pd.read_csv("filter_by_debt_ratio_1.csv")
df2 = pd.read_csv("filter_by_debt_ratio_2.csv")
df3 = pd.read_csv("filter_by_debt_ratio_3.csv")
df4 = pd.read_csv("filter_by_debt_ratio_4.csv")

df_filter_by_debt_ratio = pd.concat([df1, df2,df3,df4], axis=0)

df_filter_by_debt_ratio = df_filter_by_debt_ratio.set_index('index')

In [11]:
df_filter_by_debt_ratio['len_of_quarter_data'] = 0
df_filter_by_debt_ratio

      ticker  debt_ratio_greater_than_0.1  len_of_quarter_data
index
0          A                         1983                    0
1        AAL                          983                    0
2       AAOI                         1835                    0
3       AAON                           86                    0
4        AAP                         1988                    0
...      ...                          ...                  ...
1970      ZG                         1451                    0
1971    ZNGA                          735                    0
1972     ZNH                         1811                    0
1973     ZTS                         1994                    0
1974    ZUMZ                            0                    0

[1975 rows x 3 columns]

In [12]:
start_date = '2014-06-30'
end_date = '2022-06-30'

for i in range(0,100):

    ticker = df_filter_by_debt_ratio.ticker[i]
    df2 = generate_zacks_data(ticker,start_date,end_date)

    df_filter_by_debt_ratio.len_of_quarter_data[i] = len(df2.dropna())

In [13]:
df_filter_by_debt_ratio

      ticker  debt_ratio_greater_than_0.1  len_of_quarter_data
index
0          A                         1983                    0
1        AAL                          983                   33
2       AAOI                         1835                   33
3       AAON                           86                    1
4        AAP                         1988                    9
...      ...                          ...                  ...
1970      ZG                         1451                    0
1971    ZNGA                          735                    0
1972     ZNH                         1811                    0
1973     ZTS                         1994                    0
1974    ZUMZ                            0                    0

[1975 rows x 3 columns]

In [14]:
df_filter_by_debt_ratio[['len_of_quarter_data']][df_filter_by_debt_ratio[['len_of_quarter_data']]  == 33].count()

len_of_quarter_data    24
dtype: int64

In [15]:
start_date = '2014-06-30'
end_date = '2022-06-30'

for i in range(100,300):

    ticker = df_filter_by_debt_ratio.ticker[i]
    df2 = generate_zacks_data(ticker,start_date,end_date)

    df_filter_by_debt_ratio.len_of_quarter_data[i] = len(df2.dropna())

In [16]:
start_date = '2014-06-30'
end_date = '2022-06-30'

for i in range(300,500):

    ticker = df_filter_by_debt_ratio.ticker[i]
    df2 = generate_zacks_data(ticker,start_date,end_date)

    df_filter_by_debt_ratio.len_of_quarter_data[i] = len(df2.dropna())

In [17]:
start_date = '2014-06-30'
end_date = '2022-06-30'

for i in range(500,700):

    ticker = df_filter_by_debt_ratio.ticker[i]
    df2 = generate_zacks_data(ticker,start_date,end_date)

    df_filter_by_debt_ratio.len_of_quarter_data[i] = len(df2.dropna())

In [18]:
df_filter_by_debt_ratio[['len_of_quarter_data']][df_filter_by_debt_ratio[['len_of_quarter_data']]  == 33].count()

len_of_quarter_data    153
dtype: int64

In [19]:
start_date = '2014-06-30'
end_date = '2022-06-30'

for i in range(700,1000):

    ticker = df_filter_by_debt_ratio.ticker[i]
    df2 = generate_zacks_data(ticker,start_date,end_date)

    df_filter_by_debt_ratio.len_of_quarter_data[i] = len(df2.dropna())

In [21]:
start_date = '2014-06-30'
end_date = '2022-06-30'

for i in range(1000,1200):

    ticker = df_filter_by_debt_ratio.ticker[i]
    df2 = generate_zacks_data(ticker,start_date,end_date)

    df_filter_by_debt_ratio.len_of_quarter_data[i] = len(df2.dropna())

In [22]:
df_filter_by_debt_ratio[['len_of_quarter_data']][df_filter_by_debt_ratio[['len_of_quarter_data']]  == 33].count()

len_of_quarter_data    255
dtype: int64

In [24]:
start_date = '2014-06-30'
end_date = '2022-06-30'

for i in range(1200,1400):

    print(i)

    ticker = df_filter_by_debt_ratio.ticker[i]
    df2 = generate_zacks_data(ticker,start_date,end_date)

    df_filter_by_debt_ratio.len_of_quarter_data[i] = len(df2.dropna())

1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399

In [25]:
start_date = '2014-06-30'
end_date = '2022-06-30'

for i in range(1400,1600):

    print(i)

    ticker = df_filter_by_debt_ratio.ticker[i]
    df2 = generate_zacks_data(ticker,start_date,end_date)

    df_filter_by_debt_ratio.len_of_quarter_data[i] = len(df2.dropna())

1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599

In [26]:
df_filter_by_debt_ratio[['len_of_quarter_data']][df_filter_by_debt_ratio[['len_of_quarter_data']]  == 33].count()

len_of_quarter_data    342
dtype: int64

In [27]:
start_date = '2014-06-30'
end_date = '2022-06-30'

for i in range(1600,1900):

    print(i)

    ticker = df_filter_by_debt_ratio.ticker[i]
    df2 = generate_zacks_data(ticker,start_date,end_date)

    df_filter_by_debt_ratio.len_of_quarter_data[i] = len(df2.dropna())

1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899

In [28]:
start_date = '2014-06-30'
end_date = '2022-06-30'

for i in range(1900,len(df_filter_by_debt_ratio)):

    print(i)

    ticker = df_filter_by_debt_ratio.ticker[i]
    df2 = generate_zacks_data(ticker,start_date,end_date)

    df_filter_by_debt_ratio.len_of_quarter_data[i] = len(df2.dropna())

1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974

In [29]:
df_filter_by_debt_ratio[['len_of_quarter_data']][df_filter_by_debt_ratio[['len_of_quarter_data']]  == 33].count()

len_of_quarter_data    429
dtype: int64

In [31]:
df_filter_by_debt_ratio.to_csv('filtered1.csv',index=False)

In [32]:
generate_zacks_data('LLY',start_date,end_date)

,per_end_date,filing_date,eps_diluted_net,basic_net_eps,net_lterm_debt,tot_lterm_debt,tot_debt_tot_equity,ret_invst,mkt_val,shares_out
date,,,,,,,,,,
2014-06-30,2014-06-30,2014-07-28,0.68,0.68,-40.9,5301.0,0.2952,3.1486,69596.20,1119.45
2014-09-30,2014-09-30,2014-10-29,0.47,0.47,-41.4,5292.6,0.3170,2.1789,72457.55,1117.31
2014-12-31,2014-12-31,2015-02-19,0.40,0.40,-41.9,5332.8,0.5213,2.0680,76815.54,1113.43
2015-03-31,2015-03-31,2015-04-30,0.50,0.50,2182.0,7415.3,0.5500,2.3679,80714.88,1111.01
2015-06-30,2015-06-30,2015-07-30,0.56,0.56,2505.4,7988.6,0.5440,2.6474,92758.23,1111.01
2015-09-30,2015-09-30,2015-10-30,0.75,0.75,2504.0,8069.6,0.5301,3.4306,92773.72,1108.54
2015-12-31,2015-12-31,2016-02-19,0.45,0.45,2499.0,7972.4,0.5468,2.1203,93366.82,1108.08
2016-03-31,2016-03-31,2016-04-29,0.41,0.41,NaN,7477.6,0.5407,1.9554,79534.33,1104.49
2016-06-30,2016-06-30,2016-07-28,0.71,0.71,1206.5,8685.5,0.6367,3.2033,86978.59,1104.49
2016-09-30,2016-09-30,2016-10-28,0.73,0.73,1206.4,8707.3,0.5987,3.1986,88603.02,1103.95
2016-12-31,2016-12-31,2017-02-21,0.73,0.73,1206.4,8367.8,0.7319,3.4381,81195.52,1103.95
2017-03-31,2017-03-31,2017-05-01,-0.10,-0.10,-630.2,7637.5,0.7265,-0.5096,92802.77,1103.35
2017-06-30,2017-06-30,2017-07-28,0.95,0.95,1601.5,9867.9,0.8689,4.1934,90611.48,1100.99
2017-09-30,2017-09-30,2017-10-27,0.53,0.53,1601.4,9926.6,0.9000,2.2325,94188.09,1101.10
2017-12-31,2017-12-31,2018-02-20,-1.57,-1.58,1601.4,9940.5,1.1696,-7.1232,92998.91,1101.10
2018-03-31,2018-03-31,2018-04-27,1.16,1.16,-800.3,9393.5,0.8019,4.8671,83979.73,1085.43
2018-06-30,2018-06-30,2018-07-25,-0.25,-0.25,-1001.5,9170.5,1.0515,-1.1139,91643.57,1073.99
2018-09-30,2018-09-30,2018-11-06,1.12,1.12,1476.2,11674.7,0.8958,4.2346,115249.86,1073.99
2018-12-31,2018-12-31,2019-02-19,1.10,1.10,1468.6,9196.4,0.9440,5.5776,122584.51,1059.32
2019-03-31,2019-03-31,2019-05-02,4.31,4.33,3848.3,13610.2,6.2242,3.4689,125975.02,970.83
2019-06-30,2019-06-30,2019-08-02,1.44,1.44,3848.1,13717.6,5.5249,8.0073,106960.33,965.43
2019-09-30,2019-09-30,2019-10-25,1.37,1.37,3848.0,13662.2,4.3975,7.3223,107371.45,960.13
2019-12-31,2019-12-31,2020-02-19,1.77,1.64,3690.0,13817.9,5.6749,9.0555,126190.01,960.13
2020-03-31,2020-03-31,2020-05-01,1.60,1.60,-276.3,13982.3,5.3892,8.4781,132678.73,956.45
2020-06-30,2020-06-30,2020-07-31,1.55,1.55,712.3,15064.4,3.8221,7.3023,157033.30,956.47
2020-09-30,2020-09-30,2020-10-28,1.33,1.33,1786.0,16334.6,3.3871,5.6651,141593.20,956.58
2020-12-31,2020-12-31,2021-02-17,2.31,2.32,1785.8,16586.6,2.8489,9.4450,161509.22,956.58
2021-03-31,2021-03-31,2021-04-30,1.49,1.49,NaN,16199.6,2.2825,5.8170,179165.14,959.03
2021-06-30,2021-06-30,2021-08-03,1.53,1.53,NaN,14736.6,2.4784,6.4962,220115.53,959.03
2021-09-30,2021-09-30,2021-10-27,1.22,1.22,505.5,15522.4,2.1480,4.7286,221020.67,956.59
2021-12-31,2021-12-31,2022-02-23,1.88,1.90,505.4,15346.4,1.8444,7.0450,264229.97,956.59
2022-03-31,2022-03-31,2022-04-29,2.10,2.10,-710.1,15152.9,1.7447,7.7307,272097.19,950.16
2022-06-30,2022-06-30,2022-08-04,1.05,1.05,-1560.0,14692.0,1.9417,4.0790,308070.25,950.16

In [33]:
len(generate_zacks_data('LLY',start_date,end_date))

33